<!-- <p>header works!</p> -->
<header class="header">
    <div class="header__left">
        <div>
            <img src="/assets/images/QarmaLogo.png">
        </div>
        <div>
            <img src="/assets/images/Dashboard.svg">
            <span>Dashboard</span>
        </div>
        <div>
            <img src="/assets/images/Projects.svg">
            <span>Projects</span>
        </div>
        <div>
            <img src="/assets/images/Schedules.svg">
            <span>Schedules</span>
        </div>
        <div>
            <img src="/assets/images/settings1.svg">
            <span>Settings</span>
        </div>
        <div>
            <img src="/assets/images/knowledgeHub.svg">
            <span>Knowledge hub</span>
        </div>
    </div>
    <div class="header__right">
        <div>
            <img src="/assets/images/search.svg">
        </div>
        <div>
            <img src="/assets/images/bell.svg">
        </div>
        <div>
            <img src="/assets/images/profile.png">
        </div>
        <div>
            <img src="/assets/images/menu.svg">
        </div>
    </div>
</header>