.tab-container{
    display: flex;
    gap:50px;
    padding-left: 50px;
    border-bottom:  1px solid rgba(128, 128, 128, 1);
    font-family: 'Source Sans Pro', sans-serif;
    padding:20px 0px 7px 30px;
    background-color: black;
    color: white;
}
.selected{
   
    border-bottom: 3px solid red;
    padding-bottom: 6px;
    cursor: pointer;
}
#tab{
    height: 20px;
    cursor: pointer;
}
