<div class="container">
  <h1>Welcome to the project listing</h1>
  <p>No assigned projects to the list</p>
  <div class="action-container">
    <div class="action-item">
      <img
        class="img"
        src="../../../../assets/svgs/explore-porject.svg"
        alt="Explore Projects"
      />
      <h3>Explore sample project</h3>
    </div>
    <div class="action-item" routerLink="new-project">
      <img
        src="../../../../assets/svgs/create-new.svg"
        alt="Create New Project"
        class="img"
      />
      <h3>Create New Project</h3>
    </div>
  </div>
</div>
