
<div class="movieSummary">
    <div class="movieDetails">
    <div class="moviePoster"><img src="assets\img\poster details page 1.png" width="323px" height="479px"></div>
    <div class="movieSynopisis" >
        <div><strong>Synopisis</strong></div>
        <div>Captain Marvel is a 2019 American superhero film based on Marvel Comics featuring the character Carol Danvers / Captain Marvel. Produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures, it is the 21st film in the Marvel Cinematic Universe (MCU). The film was written and directed by Anna Boden and Ryan Fleck, with Geneva Robertson-Dworet also contributing to the screenplay. Brie Larson stars as Carol Danvers, alongside Samuel L. Jackson, Ben Mendelsohn, Djimon Hounsou, Lee Pace, Lashana Lynch, Gemma Chan, Annette Bening, Clark Gregg, and Jude Law. Set in 1995, the story follows Danvers as she becomes Captain Marvel after Earth is caught in the center of a galactic conflict between two alien civilizations.</div>
    </div>
</div>


<div class="moreDetails">
    <img src="assets\img\details-page-details-page---dark-theme.png"width="363px"height="479px"  class="offers">
    <img src="assets\img\Screenshot (103).png" class="casts" width="960px">
</div>
</div>
