<div class="container">
    <div>
        <h1 style="display: block;">Cast</h1>
    </div>
    <div>
        <img src="../../../assets/Brie Larson.png" alt="">
        <div class="castDesc">
            <h1>Brie Larson</h1>
            <p>Carol Danvers</p>
        </div>

    </div>
    <div>
        <img src="../../../assets/Brie Larson.png" alt="">
        <div class="castDesc">
            <h1>Brie Larson</h1>
            <p>Carol Danvers</p>
        </div>

    </div>
    <div>
        <img src="../../../assets/Brie Larson.png" alt="">
        <div class="castDesc">
            <h1>Brie Larson</h1>
            <p>Carol Danvers</p>
        </div>

    </div>
    <div>
        <img src="../../../assets/Brie Larson.png" alt="">
        <div class="castDesc">
            <h1>Brie Larson</h1>
            <p>Carol Danvers</p>
        </div>

    </div>
    <div>
        <img src="../../../assets/Brie Larson.png" alt="">
        <div class="castDesc">
            <h1>Brie Larson</h1>
            <p>Carol Danvers</p>
        </div>

    </div>
</div>