<div class="main-container">

    <div class="left-container">
        <h1>Offers</h1>

    </div>
    <div class="right-container">
        <div class="cast-heading">
            <h1>Cast</h1>
            <div>
                <img src="../../../assets/images/arrow left.svg" alt="" style="width:30px">
                <img src="../../../assets/images/arrow right.svg" alt="" style="width:30px">
            </div>

        </div>
        <div class="cast-container">

            <div>
                <img src="../../../assets/Brie Larson.png" alt="">
                <div class="castDesc">
                    <h1>Brie Larson</h1>
                    <p>Carol Danvers</p>
                </div>
            </div>
            <div>
                <img src="../../../assets/Brie Larson.png" alt="">
                <div class="castDesc">
                    <h1>Brie Larson</h1>
                    <p>Carol Danvers</p>
                </div>

            </div>
            <div>
                <img src="../../../assets/Brie Larson.png" alt="">
                <div class="castDesc">
                    <h1>Brie Larson</h1>
                    <p>Carol Danvers</p>
                </div>
            </div>

            <div>
                <img src="../../../assets/Brie Larson.png" alt="">
                <div class="castDesc">
                    <h1>Brie Larson</h1>
                    <p>Carol Danvers</p>
                </div>
            </div>

            <div>
                <img src="../../../assets/Brie Larson.png" alt="">
                <div class="castDesc">
                    <h1>Brie Larson</h1>
                    <p>Carol Danvers</p>
                </div>

            </div>
        </div>

    </div>

</div>