<div class="booking-page">
    <div class="trailer">
        <app-movie-trailer></app-movie-trailer>
    </div>
    <div class="action-bar">
        <div class="movie-tag">
        <app-movie-tag [movieData]="movie" ></app-movie-tag>
        </div>
        <div class="button">
            <button (click)="navigateToBookTicket()">Book Now</button>
        </div>
    </div> 
    <div class="booking-page-body">
        <div class="body-left">
            <div class="poster">
                <img src="/assets/poster 3.png" alt="">
            </div>
            <div class="offers">
                <label>Offers</label>
                <div class="ticketBookOfferAdd">
                      <img src="/assets/coupon banner 1.png">
                </div>
                <div class="popcornDiscountAdd">
                    <img src="/assets/coupon banner 1.png">              
                </div>
                <div class="movieDiscountCoupon">
                    <img src="/assets/coupon banner 2.png">
                </div>
               
            </div>
        </div>
        <div class="body-right">
            <div class="content">
                <div class="synopsis">
                    <h3>Synopsis</h3>
                    <div>{{movie?.synopsis}}</div>
                </div>
                <div class="videos">
                    <h3>Videos</h3>
                    <div>
                        <div><img src="/assets/1 details page.png" alt="Image is not found"></div>
                        <div><img src="/assets/2 details page.png" alt="Image is not found"></div>
                    </div>
                </div>
            </div>
            <h4>Cast</h4>
            <div class="cast">
            <div *ngFor="let item of castItems">
                <div>
                    <img src="/assets/Brie Larson.png">
                    <div>{{item}}</div>
                </div>
            </div>
            </div>
            <h4>Crew</h4>
            <div class="cast">
            <div *ngFor="let item of castItems">
                <div>
                    <img src="/assets/Brie Larson.png">
                    <div>{{item}}</div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>