<header>
  <div class="navBar">
    <img src="../../../../assets/svgs/qarma-logo.svg" alt="Qarma" />
    <div class="navItem">
      <img src="../../../../assets/svgs/dashboard-logo.svg" alt="Dashboard" />

      <div>Dashboard</div>
    </div>
    <div class="navItem">
      <div>
        <img src="../../../../assets/svgs/projects-logo.svg" alt="Projects" />
      </div>
      <div>Projects</div>
    </div>
    <div class="navItem">
      <div>
        <img src="../../../../assets/svgs/schedules-logo.svg" alt="Schedules" />
      </div>
      <div>Schedules</div>
    </div>
    <div class="navItem">
      <div>
        <img src="../../../../assets/svgs/settings-logo.svg" alt="Settings" />
      </div>
      <div>Settings</div>
    </div>
    <div class="navItem">
      <div>
        <img src="../../../../assets/svgs/khub-logo.svg" alt="Knowledge Hub" />
      </div>
      <div>Knowledge&nbsp;Hub</div>
    </div>
  </div>
  <div class="menuBar">
    <div>
      <img src="../../../../assets/svgs/search-icon.svg" alt="search" />
    </div>
    <div>
      <img src="../../../../assets/svgs/notification.svg" alt="notifications" />
    </div>
    <div><img src="../../../../assets/svgs/profile.svg" alt="profile" /></div>
    <div>
      <img src="../../../../assets/svgs/hamburger.svg" alt="hamburger" />
    </div>
  </div>
</header>
