*{
    padding: 0px;
    margin: 0px;
}
.navigationLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav{
    display: flex;
    align-items: center;
}
.leftNav div{
    display: flex;
    padding: 10px;
    cursor: pointer; 
}
.leftNav div:hover{
    background-color: rgb(212, 207, 207);
}
.rightNav{
    display: flex;
    align-items: center;   
}
.rightNav div{
    display: flex;
    padding: 5px;
    cursor: pointer;  
}
img{
    padding-right: 3px;
}
.header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
    width: 100%;
}
