<div class="header">
    <nav class="navigationLinks">
        <div class="leftNav">
            <div class="logo">
                <img src="assets/images/logo.svg" alt="logo">
            </div>
            <div class="dashboard">
                <img src="assets/images/Group 337dashboard.svg" alt="dashboard">
                   <p> Dashboard</p>
                
            </div>
            <div class="projects">
                <img src="assets/images/projects.svg" alt="dashboard">
                <p> Projects</p>
            </div>
            <div class="schedules">
                <img src="assets/images/schedules.svg" alt="dashboard">
                <p> Schedules</p>
            </div>
            <div class="settings">
                <img src="assets/images/settings.svg" alt="dashboard">
                <p>Settings</p>
            </div>
            <div class="kh">
                <img src="assets/images/knowledge.svg" alt="dashboard">
                <p>Knowledge hub</p>
            </div>
        </div>
        <div class="rightNav">
            <div class="image">
                <img src="assets\images\Group 3search.svg" alt="search">
            </div>
            <div class="notify">
                <img src="assets\images\Group 2notify.svg" alt="notifications">
            </div>
            <div class="dp">
                <img src="assets\images\Ellipse 103profilepic.svg" alt="dp">
            </div>
            <div class="options">
                <img src="assets\images\Group 4options.svg" alt="options">
            </div>
        </div>
    </nav>
</div>