<div class="bookingDetails">
    <div class="movieDetails">
    <div class="movieTitle">Captain Marvel<span>U/A</span></div>
    <div><span>Thriller/Action</span><span>2hr 30mins</span></div>
   </div>
   <div class="movieLikes">
    <img src=""><br>
    <span></span>
   </div>
   <div class="bookingDropdown" >
    <span>Date</span>
    <input type="date">
   </div>
   <div class="bookingDropdown" >
    <span>Language</span>
    <div class="custom-select" style="width:200px;">
        <select>
          <option value="0"></option>
          <option value="1">Telugu</option>
          <option value="2">Hindi</option>
          <option value="3">English</option>
          </select>
      </div>
   </div>
   <div class="bookingDropdown" >
    <span>Dimention</span>
    <div>
    <button>2D</button>
    <button>3D</button>
</div>
   </div>
   <div class="submitButton">
    <button>Book Now </button>
   </div>
   
</div>
