.projectMain{
    display: inline-block;
    padding: 66px 42px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    cursor: pointer;
}
.imageBlock{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}