

.checkBox{
    display: flex;
    font-size: 13px;
    color: #AFAFAF;
    margin-top: 16px;
}
.checkBox input{
    margin-right: 5px;
}
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link{
    background-color: black !important;
}
::ng-deep .p-component{
    width: 288px;
}
::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link{
    border: 0;
}
::ng-deep .p-accordion .p-accordion-content{
    background-color: black;
    border: 0;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link{
    border: 0 !important;
    outline: 0;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    border: 0;
    outline: 0;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    box-shadow: black;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
    border: 0;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link{

    border-color: black;
}
::ng-deep .p-accordion:focus{
    border: 0;
}
