#footer{
    height: 50px;
<<<<<<< Updated upstream
    width: 1366px;
=======
    width: 100%;
>>>>>>> Stashed changes
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}