<div>
  <img id="image1" src="assets/images/popcorn-image.png" alt="Popcorn image" />

    <!-- <p-carousel [autoplayInterval]="1000" [circular]="true">

        <img src="assets/images/scrolling-image-1" alt="">
        <img src="assets/images/scrolling-image-1" alt="">
        <img src="assets/images/scrolling-image-1" alt="">

    </p-carousel> -->

    <img id="scrolling_image" src="assets/images/scrolling-image-1.png" alt="Currently Playing Movies">

    <img id="image3" src="assets/images/balloon-image.png" alt="Balloon image" />

</div>
