<header>
<div class="header__container">

    <div class="header__container--div1" >
<div class="header__div1--Qarmalogo"><img src="../../../assets/images/svg/Qarma_headerLogo.svg" alt="Qarma Logo"></div>
<div class="header__div1--items"><img src="../../../assets/images/svg/DashboardLogo.svg" alt=""><span>Dashboard</span></div>
<div class="header__div1--items" id="available--options"><img src="../../../assets/images/svg/projectsLogo.svg" alt=""><span>Projects</span></div>
<div class="header__div1--items"><img src="../../../assets/images/svg/schedulesLogo.svg" alt=""><span>Schedules</span></div>
<div class="header__div1--items"><img src="../../../assets/images/svg/settingsLogo.svg" alt=""><span>Settings</span></div>
<div class="header__div1--items"><img src="../../../assets/images/svg/knowledgehubLogo.svg" alt=""><span>knowledge hub</span></div>
    </div>

    <div class="header__container--div2">
<div><img src="../../../assets/images/svg/searchLogo.svg" alt=""></div>
<div><img src="../../../assets/images/svg/belliconLogo.svg" alt=""></div>
<div><img src="../../../assets/images/svg/profileLogo.svg" alt=""></div>
<div><img src="../../../assets/images/svg/menubarLogo.svg" alt="" mat-button ></div>
    </div>

</div>

</header>