<!-- movie details below the poster -->
<div id="movie-details-container">
    <div id="movie-details">
        <div id="movie-name-container">
            <!-- movie name -->
            
            <div id="movie-name">{{movieData.name}}</div>
            
        </div>
        <div id="movie-descr">
            <!-- using custom pipe to have '/' instead of ',' for movie genre -->
            <div>{{movieData.genre | replace}}</div>
            <!-- time img -->
            <div id="movie-time">
            <img src="assets\images\time.svg"/>
            <!-- changing minutes time to hrs min using custompipe -->
            <div>{{movieData.duration | minutesToHours}}</div>
            </div>
        </div>
    </div>
    <!-- likes -->
    <div id="movie-rating">
        <img src="assets\images\liked.svg"/>
        <!-- changing likes counts to percentage -->
        <div>{{(movieData.like_count / (movieData.dislike_count + movieData.like_count) * 100) | number:'1.0-1'}}%</div>
    </div>
</div>
