<div class="container center">
    <div class="container__main-content">
        <p class="container__main-content--heading sans-font text-center">Welcome to the project listing</p>
        <p class="sans-font text-center">No assigned projects to list</p>
    </div>
    <div class="container__cards center">
        <app-card [card]="card"></app-card>
        <app-card [card]="card"></app-card>
    </div>
    <p class="sans-font text-center">Checkout&nbsp;&nbsp;<a href="" class="sans-font">How to create project</a></p>
</div>

<div class="picture">
    <img src="assets\images\project-creation\readingicon.svg" alt="person reading paper icon">
</div>
