<div id="main-container">
    <div id="heading">
        <div id="heading--big"><b>Welcome to project listing</b></div>
        <div id="heading--small">No assigned projects to list </div>
    </div>
    <div id="main-container_contents">
        <div class="content-div">
            <img src="assets\images\project-creation\explore-project.svg"/>
            <div>Explore sample project</div>
        </div>
        <div class="content-div" (click)="navigateToCreatingProject()">
            <img src="assets\images\project-creation\new-project.svg" />
            <div>Create new project</div>
        </div>
    </div>
    <div id="bottom-text">Check out  <span id="bottom-text--blue"> How to create a new project</span></div>
</div>
<img id="image" src="assets\images\project-creation\project-creation-img.svg"/>