

.header{
    //width:1237px;
   // width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 0px 10px;
    //border: 1px solid rgb(236, 234, 234) ;
    height:48px;
    background-color:#1B1B1B;
}