.header{
    //width:1237px;
   // width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    //border: 1px solid rgb(236, 234, 234) ;
   
    padding-top: 8px;
    height:48px;
    background-color:rgba(52, 50, 50, 0.644);


}
