<div class="form">
    <h2>Booking Form</h2>
    <form class="formGroup">
        <div class="label">
            <div>Date</div>
            <input class="inputFields" type="date">
        </div>
        <div class="label">
            <div>Number Of Seats</div>
            <input class="inputFields" type="text">
        </div>
        <div class="label">
            <select>
                <option>
                    <span class="prize">Elite(A-E)</span>
                    <div >500</div>
                </option>
                <option>
                    <span class="prize">Gold </span>
                    <div>200</div>
                </option>
                <option>
                    <span  class="prize">Economy</span>
                    <div>100</div>
                </option>
               
            </select>
        </div>

    </form>
        <button (click)=onsubmit()>Submit</button>
   
   
</div>

