<div class="header">
    <!-- this div reperesents header logo part -->
    <div class="headerLogo">
        <img src="assets\images\header\logo.svg"alt="movieTicketLogo" id="logo">
    </div>
    <!-- this div reperesents header search bar part -->
    <div class="headersearchbar">
        <img src="assets\images\header\Search.svg"  alt="searchIcon" id="searchIcon"/>
        <input type="text" placeholder="search for movie...">
    </div>
    <!-- this div repersents header menu bar part -->
    <div class="headerMenu">
        <img src="assets\images\header\menu.svg" alt="menu"id="menu">
    </div>
</div>
