.summaryCard{
width: 330px;
height: 446px;
background: #272727;
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
border-radius: 4px;
border-radius: 4px;
font-size: 16px;
color: #DEDEDE;
line-height: 35px;
padding: 20px;
}
.title{
    font-family: OpenSans-Semibold;
font-size: 16px;
color: #DEDEDE;

}
.movieNameLanguage{
    display:flex;
    font-family: OpenSans-Regular;
font-size: 16px;
color: #DEDEDE;

}
.movieTimings{
    display:flex;
    font-family: OpenSans-Regular;
font-size: 16px;
color: #DEDEDE;

border-bottom:1px solid #868686;
}
.seatsDetails{
    display:flex;
    font-family: OpenSans-Bold;
font-size: 16px;
color: #DEDEDE;


flex-direction: column;
border-bottom:1px solid #868686;
}
.noOfSeats{
    display:flex;
    justify-content: space-between;
    
}
.seatslist{
    display: flex;
    gap:10px;
    padding: 5px;
    align-items: center;
}
.seats{
    width: 39px;
    height:25px;
    border: 1px solid #868686;
    background-color: #b0aeae;
    
}
.ticketCalculation{
    display: flex;
    justify-content: space-between;
}
.tax{
    display: flex;
    justify-content: space-between;
}
.taxComment{
    font-family: OpenSans-Regular;
font-size: 12px;
color: #6d5cea;
letter-spacing: 0;
line-height: 24px;
border-bottom:1px solid #868686;

}
.coupon{
    display:flex;
    flex-direction: column;
    border-bottom:1px solid #868686;
}
.couponCode{
    display:flex;
    justify-content: space-between;
    padding-top: 5px;
    
}
.couponCodeName{
    
    display:flex;
    justify-content: space-between;
}
.totalCoast{
    display: flex;
    border-bottom:1px solid #868686;
    justify-content: space-between;
}
.submitButton{
    display: flex;
    gap:30px;
    padding: 5px;

}
.termsAndConditions{
    color:gray;
    font-size: 12px;
    float: right;
}
button{
    width: 130px;
    height:30px;
    color:rgb(252, 252, 252);
    background-color: #ED2633 ;
    border:1px solid #ee1c2a;
    border-radius: 10%;
}
.removebutton{
    width: 100px;
    height:30px;
    color:#6346e3;
    border:2px solid #6346e3;
    background-color: #ffffff;
}