<div class="summaryCard">
    <div class="title"><strong>Summary</strong></div>
    <div class="bookingSummary">
        <div class="movieNameLanguage">Captain Marvel | Tamil</div>
        <div class="movieTimings">Jan 10,Sunday @ 10:00 AM</div>
        </div>
        <div class="seatsDetails">
          <div class="noOfSeats"> 
             <div>Selected seats</div>
             <div>4 Tickets</div>
            </div>
            <div class="seatslist">
            <div class="seats">
                A 13
            </div>
            <div class="seats">
                A 13
            </div>
            <div class="seats">
                A 13
            </div>
            <div class="seats">
                A 13
            </div>
        </div>
        </div>
        <div class="ticketCalculation">
            <div>Elite seat 250 x 4</div>
            <div>$ 1,000</div>
        </div>
            <div class="tax">
                <div>Tax</div>
                <div>$ 200</div>
                    
            </div>
                <div class="taxComment">View tax breakup</div>
                    
            
                <div class="coupon ">
                    <div class="couponCode">
                        <div>Coupon code</div>
                        <button class="removebutton">Remove</button>
                    </div>
                        <div class="couponCodeName">
                            <div>TICKET NEW applied*</div>
                            <div>$100</div>
                        </div>

                    
                </div>
                <div class="totalCoast" >
                    <div>Grand Total</div>
                    <div>$1,100</div>
                </div>
                <div class="submitButton">
                    <button>Select add ons</button>
                    <button>Proceed to pay</button>
                </div>
                <div class="termsAndConditions">
                    *Term and conditions applied
                </div>
            
        

    
</div>
