.filter{
    color: white;
    background-color: black;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color:#DEDEDE;
    
    div{
        margin: 4px;
        input{
            border: 1px solid white;
            color: white;
        }
    }
}