.maincontent{
    display: flex;
}
.team-teammembers{
    display: flex;
}
.popup{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}