body{
    margin: 0;
}
.qarmaScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.screenBody{
    height: 100%;
}
.toast{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.routingComponent{
    height: 100%;
}