.appFooter{
    height: 30px;
    /* width: 100%; */
    position: absolute;
    top: 95%;
}
.alertbox-background{
    background-color: #747070;;
}
.toast{
    display: flex;
    align-items: end;
    top:0;
    justify-content: end;
}
.mainApp{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
