<div class="header">
    <!-- <div class="header-logo"><img src="assets\images\header\quarmalogo.svg" alt=""></div> -->
    <div class="header-menu">
        <div class="header-logo"><img src="assets\images\header\quarmalogo.svg" alt=""></div>

        <div class="header-menuContent">
            <img src="assets\images\header\dashboard.svg" alt="">
            <span>Dashboard</span>
        </div>
        <div class="header-menuContent">
            <img src="assets\images\header\projects.svg" alt="">
            <span>Projects</span>
        </div>
        <div class="header-menuContent">
            <img src="assets\images\header\schedule.svg" alt="">
            <span>Schedule</span>
        </div>
        <div class="header-menuContent">
            <img src="assets\images\header\settings.svg" alt="">
            <span>Settings</span>
        </div>
        <div class="header-menuContent">
            <img src="assets\images\header\knowledge hub.svg" alt="">
            <span>Knowledge hub</span>
        </div>
    </div>
    <div class="header-menu">
        <img src="assets\images\header\search.svg" alt="">
        <img src="assets\images\header\bel.svg" alt="">
        <img src="assets\images\header\profile.svg" alt="">
        <img src="assets\images\header\menu.svg" alt="">
    </div>

</div>