<div class="app-comp" >
    <app-headercomponent></app-headercomponent>
    <div class="com">
    <app-component-container *ngIf="false" [componentLogoUrl]="sampleUrl" [componentName]="sampleInput"></app-component-container>
    <app-component-container *ngIf="false" [componentLogoUrl]="createUrl" [componentName]="createInput"></app-component-container>
    </div>
    <div>
      <button (click)="deleteButton()">Delete</button>
      <button (click)="removeButton()">Remove</button>
      <app-pop-upcomponent *ngIf="deleteStatus" [popUpInputObject]="delete" (buttonStatusEmitter)="getPopUpStatus($event)"></app-pop-upcomponent>
      <app-pop-upcomponent *ngIf="removeStatus" [popUpInputObject]="remove" (buttonStatusEmitter)="getPopUpStatus($event)"></app-pop-upcomponent>
    </div>
    <div>
      <app-tabcompoment *ngIf="false" [tabArray]="tabArray" [joined]="joined" [suggested]="suggested" (tabStatusEmitter)="getTabStatus($event)"></app-tabcompoment>
    </div>
    <div>
      <button (click)="toastButtton(successButtonLabel)">{{successButtonLabel}}</button>
      <button (click)="toastButtton(infoButtonLabel)">{{infoButtonLabel}}</button>
      <button (click)="toastButtton(errorButtonLabel)">{{errorButtonLabel}}</button>
      <app-toast *ngIf="toastStatus" [inputToToast]="inputToToast" (toastStatus)="receiveToastStatus($event)"></app-toast>
    </div>
    <div>
      <app-datatable></app-datatable>
    </div>
    <app-footercomponent></app-footercomponent>
  </div>