<!-- <p>synopsis works!</p> -->
<div class="container">
    <div class="container__1">
        <img src="/assets/images/poster 3.png" height="479px" width="323px">
    </div>
    <div class="container__2">
        <div>
            <h3>Synopsis:</h3>
            <p>{{detailsObject.synopsis}}</p>
        </div>
        <div>Videos</div>
        <div class="videos">
            <div>
                <img src="/assets/images/1 details page.png" width="349px" height="196px">
                <p>{{videoBrief}}</p>
            </div>
            <div>
                <img src="/assets/images/2 details page.png" width="349px" height="196px">
                <p>{{videoBrief}}</p>
            </div>
        </div>
    </div>
</div>