.movie-card
{
    width:307px;
    background-color: var(--movieDescBackGround);
    margin-bottom: 30px;
    .movie-image
    {
        width:307px;
        height: 454px;
        cursor: pointer;
    }
    .movie-description
    {
        padding: 10px;
    }
    .movieDescription-upperPart
    {
        display: flex;
        justify-content: space-between;
        .movieDescription-name
        {
            display: flex;
            gap:5px;
    
            .movie-name
            {
                font-size: 16px;
                line-height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }
            .movie-rated
            {
                font-size: 12px;
                color: var(--gray);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        
    }
    .movieDescription-lowerPart
    {
        display: flex;
        justify-content: space-between;
        padding-top:5px;
        .movie-language
        {
            color: var(--gray);
            background-color: #5b5858;;
            border-radius: 3px;
            font-size: 12px;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            width:18px;
        }
        .movie-lang-genre
        {
            display: flex;
            gap:10px;
    
        }
        .movie-genre
        {
            font-size: 12px;
            color:var(--gray);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .movie-time
        {
            font-size: 12px;
            color: var(--gray);
            letter-spacing: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .timer-img
            {
                padding:0px 5px;
            }
        }
        .movie-likedPercentage
        {
            color:var(--white);
            font-family: OpenSans-Semibold;
            font-size: 12px;
            letter-spacing: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}