
<div class="header">
    <div>
        <img src="assets\header-imgs\movie-ticket-logo.svg" alt="logo" width="170px" height="22px">
    </div>

        <img class="searchicon"src="assets\header-imgs\Search.svg">
         <input type=text placeholder="search for movie">
    <div class="forBooking">
        <button  routerLink="booking">BookTicket</button>
        <img class="menubar_icon" routerLink="movies" src="assets\header-imgs\menu.svg" alt="menubar" width="30px" height="23px">

    </div>
</div>
    
  


