<details>
    <summary>Language</summary>
    <div class="options">
        <input type="checkbox" name="language" id="" value="English" (change)="filter($event)">
        <span>English</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Tamil" (change)="filter($event)">
        <span>Tamil</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Telegu" (change)="filter($event)">
        <span>Telugu</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Marathi" (change)="filter($event)">
        <span>Marathi</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Malayalam" (change)="filter($event)">
        <span>Malayalam</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Punjabi" (change)="filter($event)">
        <span>Punjabi</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Gujarati" (change)="filter($event)">
        <span>Gujarati</span>
    </div>
    <div class="options">
        <input type="checkbox" name="language" id="" value="Bengali" (change)="filter($event)">
        <span>Bengali</span>
    </div>
</details>
<details>
    <summary>Genre</summary>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Comedy" (change)="filter($event)">
        <span>Comedy</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Crime" (change)="filter($event)">
        <span>Crime</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Drama" (change)="filter($event)">
        <span>Drama</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Fantasy" (change)="filter($event)">
        <span>Fantasy</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Horror" (change)="filter($event)">
        <span>Horror</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Romantic" (change)="filter($event)">
        <span>Romantic</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Sci-fi" (change)="filter($event)">
        <span>Sci-fi</span>
    </div>
    <div class="options">
        <input type="checkbox" name="Genre" id="" value="Thriller" (change)="filter($event)">
        <span>Thriller</span>
    </div>
</details>
