<div class="card_space_container">
  <div class="Toggle_card_view">
    <span>Now Showing</span>
    <span>Upcoming movies</span>
  </div>
  <div class="cards_space">
    <div class="card_container">
      <div class="img_container">
        <img src="assets\poster details page 1.png" alt="" />
      </div>
      <div class="img_data_container">
        <div class="movie_details">
          <div class="movie_title">
            <span class="font_styleA">Gravity </span>
            <span class="font_styleB">  U/A</span>
          </div>
          <div class="language_genre_duration">
            <span class="language_box">EN</span>
            <span class="font_styleB"> genre</span>
            <span class="font_styleB"> XXhr XXmins </span>
          </div>
        </div>
        <div class="likepercent_container">
          <span><img src="assets\liked.svg" alt="" /></span>
          <span> 92%</span>
        </div>
      </div>
    </div>
    <div class="card_container">
        <div class="img_container">
          <img src="assets\poster details page 1.png" alt="" />
        </div>
        <div class="img_data_container">
          <div class="movie_details">
            <div class="movie_title">
              <span class="font_styleA">Gravity </span>
              <span class="font_styleB">  U/A</span>
            </div>
            <div class="language_genre_duration">
              <span class="language_box">EN</span>
              <span class="font_styleB"> genre</span>
              <span class="font_styleB"> XXhr XXmins </span>
            </div>
          </div>
          <div class="likepercent_container">
            <span><img src="assets\liked.svg" alt="" /></span>
            <span> 92%</span>
          </div>
        </div>
      </div><div class="card_container">
        <div class="img_container">
          <img src="assets\poster details page 1.png" alt="" />
        </div>
        <div class="img_data_container">
          <div class="movie_details">
            <div class="movie_title">
              <span class="font_styleA">Gravity </span>
              <span class="font_styleB">  U/A</span>
            </div>
            <div class="language_genre_duration">
              <span class="language_box">EN</span>
              <span class="font_styleB"> genre</span>
              <span class="font_styleB"> XXhr XXmins </span>
            </div>
          </div>
          <div class="likepercent_container">
            <span><img src="assets\liked.svg" alt="" /></span>
            <span> 92%</span>
          </div>
        </div>
      </div><div class="card_container">
        <div class="img_container">
          <img src="assets\poster details page 1.png" alt="" />
        </div>
        <div class="img_data_container">
          <div class="movie_details">
            <div class="movie_title">
              <span class="font_styleA">Gravity </span>
              <span class="font_styleB">  U/A</span>
            </div>
            <div class="language_genre_duration">
              <span class="language_box">EN</span>
              <span class="font_styleB"> genre</span>
              <span class="font_styleB"> XXhr XXmins </span>
            </div>
          </div>
          <div class="likepercent_container">
            <span><img src="assets\liked.svg" alt="" /></span>
            <span> 92%</span>
          </div>
        </div>
      </div><div class="card_container">
        <div class="img_container">
          <img src="assets\poster details page 1.png" alt="" />
        </div>
        <div class="img_data_container">
          <div class="movie_details">
            <div class="movie_title">
              <span class="font_styleA">Gravity </span>
              <span class="font_styleB">  U/A</span>
            </div>
            <div class="language_genre_duration">
              <span class="language_box">EN</span>
              <span class="font_styleB"> genre</span>
              <span class="font_styleB"> XXhr XXmins </span>
            </div>
          </div>
          <div class="likepercent_container">
            <span><img src="assets\liked.svg" alt="" /></span>
            <span> 92%</span>
          </div>
        </div>
      </div>


  </div>
  
</div>
