
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#000000;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* css variables */
:root{
    --red-color:#EF233C;
    --black-color:#000000;
    --light-black:#AFAFAF;
    --grey-black:#161616;
}

