/* You can add global styles to this file, and also import other style files */
// Declaring global colors here
$blackColor: #272727;
$whiteBorder: #868686;
$whiteColor: #dedede;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $blackColor;
}
