<main>
<div class="main--container">
    <div class="main--container-title">
        <h2>Welcome to the project listing</h2>
        <span>No assigned projects to list</span>
    </div>
    <div class="main--container--cards">
        <div class="card">
            <img src="assets/images/svg/projectExploreLogo.svg" alt="Explore Projects">
            <span>Explore sample project</span>
        </div>
        <div class="card" routerLink="creation-form">
            <img src="assets/images/svg/projectCreateLogo.svg" alt="Create new project">
            <span>Create new project</span>
        </div>
    </div>
    <div class="bottomLink">Check out <a href="#">How to create a new project</a></div>
</div>
</main>

<div class="man--logo">
<img src="assets/images/svg/profile-default-logo.svg" alt="Welcome">
</div>
