<div class="table" >
    <table *ngIf="dataAvailable; else temp"> 
        <caption>{{caption}}</caption>
        <tr>
            <th *ngFor="let item of columnNames" class="text-overflow">{{item}}</th>
        </tr>
        <tr *ngFor="let row of rowData">
            <td class="text-overflow">{{row.id ?? "null"}}</td>
            <td class="text-overflow">{{row.firstName ?? "null"}}</td>
            <td class="text-overflow">{{row.lastName ?? "null"}}</td>
            <td class="text-overflow">{{row.userName ?? "null"}}</td>
            <td class="text-overflow">{{row.age ?? "null"}}</td>
            <td class="text-overflow">{{row.email ?? "null"}}</td>
            <td class="text-overflow">{{row.mobileNo ?? "null"}}</td>
        </tr>
    </table>
    <ng-template #temp>No data available
        <ol>
            <li>Check url once</li>
        </ol>
    </ng-template>
</div>


