<div id="header">
    <!-- Header Component starting -->
    <div class="header_left">
        <!-- Header component left side -->
        <div class="header-component">
            <div><img src="/assets/images/Qarma.svg" alt="Qarma Image Not Found"></div>
        </div>
        <div class="header-component">
            <div><img src="/assets/images/Dashboard.svg" alt="Dashboard Image Not Found"></div>
            <button>Dashboard</button>

        </div>
        <div class="header-component">
            <div><img src="/assets/images/Projects.svg" alt="Projects Image Not Found"></div>
            <button>Projects</button>
        </div>
        <div class="header-component">
            <div><img src="/assets/images/Schedules.svg" alt="Schedules Image Not Found"></div>
            <button>Schedules</button>
        </div>
        <div class="header-component">
            <div><img src="/assets/images/Settings.svg" alt="Settings Image Not Found"></div>
            <button>Settings</button>
        </div>
        <div class="header-component">
            <div><img src="/assets/images/Knowledgehub.svg" alt="Knowledge hub Image Not Found"></div>
            <button>Knowledge hub</button>
        </div>
    </div>
    <div class="header_right">
        <div><img src="/assets/images/Search.svg" alt="Search Image Not Found"></div>
        <div><img src="/assets/images/Notification.svg" alt="Notification Image Not Found"></div>
        <div><img src="/assets/images/Profile.svg" alt="Profile Image Not Found"></div>
        <div><img src="/assets/images/Menu.svg" alt="Menu Image Not Found"></div>
    </div>
</div>