<div class="summary">
    <!-- This is a static data for the summary component -->
    <div>
         Movie | Language
    </div>
    <div>
        date & time
    </div>
    <hr>
    <strong>selected seats</strong>
    <div>seat names</div>
    <hr>
    <div>
        Calculation of cost
    </div>
    <div>
        Tax
    </div>
    <hr>
    <div>
        Coupon Code
    </div>
    <div>
        Grand Total
    </div>
    <div class='buttons'>
        <button class="sel">Select add ons</button>
        <button class="proceed ">Proceed to pay</button>
    </div>

</div>
