<!-- <p>project-listing-default works!</p> -->
<div class="homeHead">   
    <div class="homeContents">
       <div class="welcomeWish">Welcome to the project listing</div>
       <div><p>No assigned projects to the list</p></div>
       <div>
           <app-project-root [detailsProject]="projectExploreObj"></app-project-root>
           <app-project-root [detailsProject]="projectCreationObj" ></app-project-root>
       </div>
       <div class="checkout">Checkout <span>How to create a new project</span></div>
       <div class="homeImg">
           <img src="assets\home-page\homePageWelcomeImg.svg" alt="homePageImg">
       </div>
   </div>
</div>