/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

$dark-blue: #3399ff;

body {
  font-family: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.linkItem {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  // text-align: left;
}

.btn {
  display: inline-block;
  padding: 6px 40px;
  width: 120px;
  height: 30px;
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: $dark-blue;
}
.btn-secondary {
  color: $dark-blue;
  background: white;
  border: 1px solid $dark-blue;
}
