<div class="homeHead">   
     <div class="homeContents">
        <div><h2>Welcome to the project listing</h2></div>
        <div><p>No assigned projects to the list.</p></div>
        <div>
            <app-create-project [detailsProject]="projectExplore"></app-create-project>
            <app-create-project [detailsProject]="projectCreation"></app-create-project>
        </div>
        <div>Checkout <span>How to create a new project</span></div>
        <div class="homeImg">
            <img src="assets\images\homepageImage.svg" alt="homePageImg">
        </div>
    </div>
</div>