<div class="mainContainer">
    <div class="mainContainer-headers">
        <span class="mainContainer-headers-one">Welcome to the project listing</span>
        <span class="mainContainer-headers-two">no assigned projects to list.</span>
    </div>
    <div class="mainContainer-projects">
        <div >
           <img class="mainContainer-projects-imgs" src="assets\images\default project creation\createproject.svg" alt="">
            <img class="mainContainer-projects-imgs" src="assets\images\default project creation\explore sample project.svg" alt="">
        </div>
    </div>
    <div class="mainContainer-text">
        <span>Check out</span><span class="mainContainer-text_color"> How to create a new project</span>
    </div>
    <div class="mainContainer-showImage">
        <img src="assets\images\default project creation\showcaseimage.svg" alt="">
    </div>
</div>