<div class="container">
    <div class="container-body">
        <div class="container-body-left">
            <div>
                <div class="container-icon">
                    <img class="container-icon_image" src="assets\images\project form creation\icon.svg" alt="">
                    <span>Add icon</span>
                </div>
            </div>
            <div>
                <form class="container-form">
                    <div class="container-form-input1">
                        <label>what shall we call it.</label><input type="text" class="container-form-inputone">
                    </div>
                    <div class="container-form-input1">
                        <label>what's this project about(optional)</label><textarea type="text" class="container-form-inputtwo"></textarea>
                    </div>
                    <div >
                        <label>Visibility (when a project is set to personal, It can only be viewed or joined by Invitation.)</label>
                    </div>
                    <div >
                        <div class="container-form-radio">
                            <div class="container-form-radio-box">
                                <img src="assets\images\project form creation\peopleicon.svg" alt=""><label>Public</label><input type="radio" class="formCheckbox">
                            </div>
                            <div class="container-form-radio-box">
                                <img src="assets\images\project form creation\personicon.svg" alt=""><label>Personal</label><input type="radio">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <img src="assets\images\project form creation\sampleimage.svg" alt="">
        </div>
    </div>
    <div class="container-buttons">
        <button>Cancel</button><button>create</button>
    </div>
</div>
