
<!-- <vg-player>
    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
        <source src="https://www.youtube.com/watch?v=eOrNdBpGMv8" type="video/mp4">
    </video>
</vg-player> -->
<!-- <video width="320" height="240" controls>
    <source src="https://youtu.be/hIR8Ar-Z4hw">
</video> -->

<!-- <iframe width="100%" height="200px" src="https://youtu.be/unQlCp-lL6I" frameborder="0" allowfullscreen></iframe> -->
<div class="trailer">
    <img src="/assets/trailer.png" alt="Trailer is not found">
</div>