<div class="Header">
    <div class="Header-Left">
        <div><img src="assets\images\header\logo.svg" alt="qarmalogo" id="logo"></div>
        <div class="Header-Left--Items">
            <div class="header-left-element">
                <img src="assets\images\header\dashboard.svg" alt="dashboard" id="img">
                
            </div>
            <div>Dashboard</div>
        </div>  
        <div class="Header-Left--Items">
            <div class="header-left-element">
                <img src="assets\images\header\projects.svg" alt="dashboard" id="img">
            </div>
            <div>Projects</div>
        </div>

        <div class="Header-Left--Items">
            <div class="header-left-element">
                <img src="assets\images\header\schedules.svg" alt="dashboard" id="img">
            </div>
            <div>Schedule</div>
        </div>

        <div class="Header-Left--Items">
            <div class="header-left-element">
                <img src="assets\images\header\settings.svg" alt="dashboard" id="img">
            </div>
            <div>Settings</div>
        </div>

        <div class="Header-Left--Items">
            <div class="header-left-element">
                <img src="assets\images\header\knowledge.svg" alt="dashboard" id="img">
            </div>
            <div>Knowledge hub</div>
        </div>

    </div>
    <div class="Header-Right">
        
            <div class="header-Right-element">
                <img src="assets\images\header\search.svg" alt="search" >
            </div>
            <div class="header-Right-element">
                <img src="assets\images\header\bell icon.svg" alt="bell">
            </div>
            <div class="header-Right-element">
                <img src="assets\images\header\image.svg" alt="image" >
            </div>
            <div class="header-Right-element">
                <img src="assets\images\header\menu bar.svg" alt="menu" >
            </div>

        

    </div>
    

















</div>
