<!-- header -->
<div class="header">
    <!-- left side header -->
    <div id="header__left">
    <div class="elements">
        <img class="logo" src="assets\images\header\qarma.svg"/>
    </div>
    <div class="elements">
        <img class="icons" src="assets\images\header\dashboard.svg"/>
        <div>Dashboard</div>
    </div>
    <div class="elements cursor" (click)="navigateToProjectCreation()">
        <img class="icons" src="assets\images\header\projects.svg"/>
        <div>Projects</div>
        </div>
    <div class="elements">
        <img class="icons" src="assets\images\header\schedule.svg"/>
        <div>Schedule</div>
    </div>
    <div class="elements">
        <img class="icons" src="assets\images\header\settings.svg"/>
        <div>Settings</div>
    </div>
    <div class="elements">
        <img class="icons" src="assets\images\header\knowledgeHub.svg"/>
        <div>Knowledge hub</div>
    </div>
    
    </div>
    <!-- right side header -->
    <div id="header__right">
        <img class="icons" src="assets\images\header\search.svg"/>
        <img class="icons" src="assets\images\header\bell.svg"/>
        <img class="profile" src="assets\images\header\profile.svg"/>
        <img class="icons cursor" src="assets\images\header\sidebar.svg"/>
    </div>
</div>
