header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid rgb(225, 222, 222);
}
.header_leftsideimgs
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.header_leftsideimgs div{
    display: flex;
    gap: 10px;
}
.knowledgehubimg{
    width: 20px;
    height: 20px;
}
.header__rightsideimgs {
   display: flex;
   align-items: center;
}
.header__rightsideimgs img{
   padding: 0px 10px;
}

