<header class="header">     
   
        <div class="header_leftsideimgs"> 
        <img src="assets\imgs\Mask group.svg">
        <div>
            <div><img src="assets\imgs\Ellipse 177.svg"></div>
            <span>Dashboard</span>
        </div>
   
        <div>
           <div><img src="assets\imgs\Vector 680.svg"></div> 
            <span>Projects</span>
        </div>
   
        <div>
            <div><img src="assets\imgs\Group 108.svg"></div>
            <span>Schedules</span>
        </div>
    
        <div>
            <div><img src="assets\imgs\Group 336.svg"></div>
            <span>Settings</span>
        </div>
    
        <div>
           <div class="knowledgehubimg"><img src="assets\imgs\Group 393.svg"></div> 
            <span>Knowledge hub </span>
        </div>
     
    </div>
   
    <div class="header__rightsideimgs">
       <img src="assets\imgs\Group 3.svg">
       <img src="assets\imgs\Group 2.svg">
       <img src="assets\imgs\Ellipse 103.svg">
       <img src="assets\imgs\Group 4.svg">
    </div>
    
</header>
